
EXPO_PUBLIC_API_URL=http://13.140.140.177:8000/api/v1

EXPO_PUBLIC_APP_ENV=development

# WeatherAPI.com key, used by useCurrentWeather in hooks/usefetchquery.ts
# for the Home weather widget. Get a free/dev key at
# https://www.weatherapi.com/ if you don't have one yet.
EXPO_PUBLIC_WEATHER_API_KEY=


EXPO_PUBLIC_LOCAL_DB_KEY=dqBvq0tUleuyXIIwe6G5csZEURormefYeMEvhkK2NQEfss+56fpr1K1uCwSCgDfldYdlp6/z1YjCzcntDim55A==
